body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 16px;
}

li {
  margin: 0;
}

.head {
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-between;
}

h2 {
  padding: 8px;
  font-size: 24px;
}

.head a {
  padding: 8px;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  margin-top: 12px;
  
}

h3 {
  font-size: 24px;
}

label {
  display: block;
  margin: 20px 0 4px 0;
}

input, select {
  display: block;
  padding: 8px;
  width: 540px;
}

textarea {
  padding: 8px;
  width: 540px;
  height: 320px;
}

button {
  padding: 12px;
}





